

.border {
    height: 369px;
    width: 280px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;

}

.border:hover{
    border: 1px;

}

#on .section-subtitle{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#on .section-title{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-box{
    height: 500px;
    width: 300px;
    background: gray;
    border-radius: 10px;
    transition: 1s;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 73px -40px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

/* card1 */

.card1{
    background-image: url('https://i.pinimg.com/564x/dd/9b/9e/dd9b9e031a893ed87390d185ee16619f.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:400px; 

}

.card1:hover{
    background-image: url('https://i.pinimg.com/736x/18/79/ab/1879ab124a9f68a1c6c8aeed87f05fe9.jpg') ;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 550px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.card1:hover h2{
    opacity: 1;
    filter: invert(1);
}
.card1:hover .icon{
    opacity: 1;
    filter: invert(1);
    
}

/* card2 */

.card2{
    background-image: url('https://i.pinimg.com/564x/ac/bd/1e/acbd1eaea9892b480ab8891024d50b0d.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:400px; 

}

.card2:hover{
    background-image: url('https://i.pinimg.com/564x/4b/e7/2e/4be72e17a515fc289c1ae8823478224e.jpg') ;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 550px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.card2:hover h2{
    opacity: 1;
    filter: invert(1);
}
.card2:hover .icon{
    opacity: 1;
    filter: invert(1);
    
}

/* card3 */

.card3{
    background-image: url('https://i.pinimg.com/564x/a1/4b/18/a14b18b80f6ef7e04a87f992df195586.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:400px; 

}

.card3:hover{
    background-image: url('https://i.pinimg.com/564x/b2/94/ff/b294ffb1a2b445e290ba2d92e1b83aac.jpg') ;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 550px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.card3:hover h2{
    opacity: 1;
    filter: invert(1);
}
.card3:hover .icon{
    opacity: 1;
    filter: invert(1);
    
}

/* h2 */

h2{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 15px;
    margin-top: -50px;
    opacity: 0;
    transition: 1s;
}

.icon{
    opacity: 0;
    transition:  1s;
}

.icons{
    height: 100px;
    width: 30px;
    margin-top: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    
}

@media screen and (max-width: 1170px){

    #on{
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        justify-content: space-around;

    }

    .card-box{
        height: 500px;
        width: 500px;

    } 

    
}

@media screen and (max-width: 600px){
    #on{
        min-width: 50vh;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    

    .section-subtitle{
        text-align: center;
    }

}


